h3 Available Games

.games
  p.empty No games, go ahead and create one
  ul

.row.new-game
  form
    input(type='text', id='newgameName', placeholder='Name for new game')
    input(type='submit', id='newgame', value='Add')