h1 Instructions

.eight.columns
  h2 Single Player
  p
    | You start in the upper left corner with a single rectangle, painted in grey.
    | By clicking on a color in the color list on the bottom of the field, you choose which of the neighbour fields you would like to take over.
    | Aim of the game is to take over all of the fields in as few steps as possible.

  h5 Example

  p Let's say you start with a field like this:

  img(src='http://f.cl.ly/items/1C1p2o3x1f2n3S38170a/Screen%20Shot%202013-02-16%20at%204.12.23%20PM.png')

  p And then you pick yellow in this round. The the field will look like this in the next step:

  img(src='http://f.cl.ly/items/0s470Q3s3l113t171y2e/Screen%20Shot%202013-02-16%20at%204.12.45%20PM.png')

  p All dircelty adjoining fields of the picked color will then turn into fields owned by you. Diagonal fields are not counted as directly adjointed ;)

  strong Have fun playing :)

.eight.columns
  h2 Two Player
  p
    You start in the upper left corner with a single rectangle. By clicking on a color in the color list at the top, you choose which of the neighbour fields you would like to take over. After each step the field is redrawn and the step counter increased. Aim of the game is to take over all of the fields.