#navigation.sixteen.columns
  .items.eight.columns
    .header
      h1 Colorbattle

    .links
      a(href='/play') 1 Player (1)

      a(href='/games') Multi Player (2)

      a(href='/stats') Stats (3)

      a(href='/instructions') Instructions (4)