.controls
  margin-top .5em
  -webkit-tap-highlight-color transparent

  table
    width 100%

  td
    height 40px    
    border-bottom 2px solid transparent
    cursor pointer

    &.active
      border-bottom 4px solid #000