@import 'nib'
@import '_base'
@import '_skeleton'
@import '_navigation'
@import '_field'
@import '_controls'
@import '_games'
@import '_mediaqueries'

#vconsole
  position fixed
  top 0
  right 0
  opacity .8
  background-color yellow
  width 50%
  color blue
  text-align right

body
  margin-top 10px

body, .container
  background-color white

td
  padding-right 2em
  padding-bottom 1em